

    <title>naslov</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/ajaks.js"></script>


    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/ikone.css">
    <link rel="stylesheet" href="/static/css/footer.css">




</head>



<body >



<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Web Shop</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ><a href='http://localhost:8000/prodavnica'>Pocetna stranica</a></li>
                    <li class="active"><a href="http://localhost:8000/prodavnica/katalog">Katalog</a></li>

                    <li ><a href='/index'>Korpa</a></li>

				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">



						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Prijava/Odjava <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li style="width: auto" class="container">


                                <form action="/prodavnica/login/" method="post" class="form-horizontal">

                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="username_login" type="text" class="form-control" name="username_login" placeholder="Username">
                                      </div>
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password_login" type="password" class="form-control" name="password_login" placeholder="Password">
                                      </div>

                                    <div style="text-align: center">
                                 <button type="submit"  class="btn btn-success">Log in</button>
                                    </div>

                                    </form>
                                {% if  poruka %}

                                <div class="alert alert-danger">
                                    <strong>Greska!</strong> Neispravni podaci.
                                </div>
                                {% endif   %}



                                <form action="/prodavnica/logout/" method="post" class="form-horizontal">
                                    <div style="text-align: center">

                                 <button type="submit" class="btn btn-success">Log out</button>
                                    </div>

                                </form>






                            </li>



						</ul>
					</li>




				</ul>

				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control pull-right" style="width: 300px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
						<span class="input-group-btn">
							<button type="reset" class="btn btn-default">
								<span class="glyphicon glyphicon-remove">
									<span class="sr-only">Close</span>
								</span>
							</button>
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
								</span>
							</button>
						</span>
					</div>
				</form>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

<br>
<br>
<br>
<br>
<br>
<br>







<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">

            <h1>Ova stranica nije dostupna</h1>
            <br><h4><a href="/index">Klik ovdje za povratak na pocetnu</a></h4>

        </div>
    </div>
</div>


<br><br>










</body>




<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footer-col">
        <div class="logofooter"> Web Shop</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus molestie erat, at tristique massa feugiat id. Cras suscipit ac ligula non imperdiet.  Nullam consequat Cras dolor ex, egestas eu pretium nec, molestie dignissim urna.

Nulla vel mauris a nisl tempus aliquet eu in ligula.</p>
        <p><i class="fa fa-map-pin"></i> Zmaja od Bosne bb, Sarajevo, Bih</p>
        <p><i class="fa fa-phone"></i> Telefon: +3873361122</p>
        <p><i class="fa fa-envelope"></i> E-mail : astanic1@etf.unsa.ba</p>

      </div>
      <div class="col-md-4 col-sm-6 footer-col">
        <h6 class="heading7">Vanjski linkovi</h6>
        <ul class="footer-ul">
          <li><a href="https://www.tutorialspoint.com/python/"> Python</a></li>
          <li><a href="https://docs.djangoproject.com/en/1.11/"> Django</a></li>

        </ul>
      </div>

      <div class="col-md-4 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul class="footer-social">
          <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


