{% load filters %}

<head>
    <title>Pocetna</title>
    {% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/ajaks.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/ikone.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">


    {% block javascript %}

    <script>
    $(document).ready(function(){

        $( "#pokusaj" ).click(function() {
        alert( "Handler for .click() called." );
        });
    });

    </script>


    <script>
    $(document).ready(function(){
        $( ".list-group-item" ).click(function() {
            var id = $(this).attr('id');


           $.ajax({url: "http://localhost:8000/prodavnica/ajax/filtriraj",
                    data: {
                    'kategorija': id.toString()
                    },

                    success: function(result){
                    //$("#div1").html(result);
                        //document.getElementById("okvir").innerHTML="asdasd";
                                                   document.getElementById("sadrzaj_kataloga").innerHTML=result;

                      alert(result);

         }});
         });
    });
</script>


    {% endblock %}


</head>
<body >

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Web Shop</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href='http://localhost:8000/prodavnica'>Pocetna stranica</a></li>
                    <li ><a href="http://localhost:8000/prodavnica/katalog">Katalog</a></li>
{% if  user.is_authenticated %}

                    <li ><a href='http://localhost:8000/prodavnica/korpa'>Korpa</a></li>
                            {% endif %}

				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">



						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Prijava/Odjava <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li style="width: auto" class="container">

                            {% if not user.is_authenticated %}

                                <form action="/prodavnica/login/" method="post" class="form-horizontal">
                                                                    {% csrf_token %}

                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="username_login" type="text" class="form-control" name="username_login" placeholder="Username">
                                      </div>
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password_login" type="password" class="form-control" name="password_login" placeholder="Password">
                                      </div>

                                    <div style="text-align: center">
                                 <button type="submit"  class="btn btn-success">Log in</button>
                                    </div>

                                    </form>



                            {% endif %}

                            {% if  user.is_authenticated %}

                                <form action="/prodavnica/logout/" method="post" class="form-horizontal">
                                {% csrf_token %}
                                    <div style="text-align: center">

                                 <button type="submit" class="btn btn-success">Log out</button>
                                    </div>

                                </form>


                            {% endif %}




                            </li>



						</ul>
					</li>




				</ul>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>






<br>

<br>

<br>

<br>

<br>

<br>

<br>





{% if error_msg %}
            {{ error_msg }}
        {% endif %}


<br>
<br>


{% if not user.is_authenticated %}

<div class="container">
    <h1>Log in</h1>
  <form class="form-horizontal" action="/prodavnica/login/" method="post">
      {% csrf_token %}


<div class="form-group "> <!-- Email field !-->
		<label for="username_login" class="control-label">Username</label>
		<input type="text" class="form-control" id="username_login" name="username_login" aria-describedby="email_help">
</div>

<div class="form-group "> <!-- Email field !-->
		<label for="password_login" class="control-label">Username</label>
		<input type="password" class="form-control" id="password_login" name="password_login" aria-describedby="email_help">
</div>

<div class="form-group "> <!-- Email field !-->
        <button type="submit" class="btn btn-default">Log in</button>
</div>
  </form>
</div>
        {% else %}



<div class="container">
    <h1>Register </h1>

  <form class="form-horizontal" action="/prodavnica/register/" method="post">
      {% csrf_token %}


<div class="form-group "> <!-- Email field !-->
		<label for="posta" class="control-label">Email</label>
		<input type="text" class="form-control" id="posta" name="posta" aria-describedby="email_help">


 {% if "email" in error_msg %}

<p id="email_help" style="color: red;" class="help-block">Neispravan email</p>
              {% endif%}

	</div>

<div class="form-group "> <!-- Email field !-->
		<label for="Username" class="control-label">Username</label>
		<input type="text" class="form-control" id="username" name="username" aria-describedby="email_help">

 {% if "username" in error_msg %}

		<p id="email_help" style="color: red;" class="help-block">Neispravan Username</p>
              {% endif%}
 {% if "zauzet" in error_msg %}

		<p id="email_help" style="color: red;" class="help-block">Username je zauzet</p>
              {% endif%}


	</div>
<div class="form-group "> <!-- Email field !-->
		<label for="first_name" class="control-label">Ime</label>
		<input type="text" class="form-control" id="first_name" name="first_name" aria-describedby="email_help">


 {% if "first_name" in error_msg %}

		<p id="email_help"  style="color: red;"class="help-block">Neispravno ime</p>
              {% endif%}

	</div>
<div class="form-group "> <!-- Email field !-->
		<label for="last_name" class="control-label">Prezime</label>
		<input type="text" class="form-control" id="last_name" name="last_name" aria-describedby="email_help">


 {% if "last_name" in error_msg %}

		<p id="email_help" style="color: red;" class="help-block">Neispravno prezime</p>
              {% endif%}

	</div>
<div class="form-group "> <!-- Email field !-->
		<label for="password" class="control-label">Password</label>
		<input type="password" class="form-control" id="password" name="password" aria-describedby="email_help">


 {% if "password" in error_msg %}

		<p id="email_help"  style="color: red;"class="help-block">Neispravan password</p>
              {% endif%}

	</div>
<div class="form-group "> <!-- Email field !-->
		<label for="password_repeat" class="control-label">Ponovite password</label>
		<input type="password" class="form-control" id="password_repeat" name="password_repeat" aria-describedby="email_help">


 {% if "repeat" in error_msg %}

		<p id="email_help"  style="color: red;"class="help-block">Passwordi se ne podudaraju</p>
              {% endif%}

	</div>

<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>




        {% endif %}










</body>
